.dailyCard {
    position: relative;
    padding-top: 1rem;
    display: flex;
    width: 100%;
    gap: 3rem;
}

.dailyCard::before {
    background: linear-gradient(to right, var(--color-card-bg), transparent);
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
}


.dailyEntries {
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.addEntryButton {
    background-color: var(--color-card-bg);
    transition: background-color 0.2s ease;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    border: unset;
}

.addEntryButton:hover {
    background-color: var(--color-card-bg-highlight);
}