.grid {
    flex-direction: column;
    display: flex;
    gap: 2px;
}

.row {
    display: flex;
    gap: 2px;
}

.cell {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 2px;
    cursor: pointer;
    height: 12px;
    width: 12px;
}